:root {
  --main-color: #c0392b;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;

  --nav-height: 60px;
  --space-top: 30px;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Cairo", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
}

html {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
}
